
<div class="container center">
  <h1> GeoPets </h1>
  <% @posts.each do |post|%>
    <div class="row">
      <div class="col offset-m2 s12 m8">
        <div class="card">
          <div class="card-image">
            <%= image_tag(post.avatar) %>
            <span class="card-title"><%= post.title %></span>
          </div>
          <div class="card-content">
            <p><%= post.detail %></p>
          </div>
          <div class="card-action">
            <%= link_to "Come Find Me!", post %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

